body {
  margin: 0;
  padding: 0;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-size: 20px;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

header {
  margin-top: 0px;
}

nav {
  display: flex;
  margin-top: 0px;
}

.left-nav {
  justify-content: flex-start;
  margin-left: 20px;
  width: 30%;
}

.icon,
.fas {
  margin-right: 20px;
}

.center-nav {
  justify-content: center;
  text-align: center;
  width: 40%;
  font-weight: bold;
}

svg {
  width: 180px;
  height: auto;
  padding-top: 0;
}

.right-nav {
  justify-content: flex-end;
  margin-right: 20px;
  width: 30%;
  text-align: right;
}

.right-nav button {
  padding: 8px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  background-color: #316891;
  border: none;
  margin-bottom: 10px;
}

.advertisement{
    text-align: center;
    background-color:#F7F7F7;
    height: 200px;
    padding: 5px;
    color:lightgray;
}
.advert{
  font-size: 12px;
}

.space-ripples h1{
    margin: 50px 0 20px 350px;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-style: italic;
    font-size: 35px;

}
.space-ripples img{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 16px;
    margin-bottom: 0;
}
.space-ripples p{
  margin-top: 5px;
  color:gray;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;

}
.space-ripples span{
    font-size: 13px;
    color: #c0c0c0;
}

.cambridge{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
}

.article-icons i{
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;

}

.article-date{
    margin-right: 400px;
}

.cambridge-editors{
  display: flex;
  justify-content: center;
}

.cambridge-2{
  width: 50%;
  margin-left: 25%;
  margin-top: 40px;
}

.editors-pick{
  float: right;
  width: 20%;
  /*margin-right: 50px;
  margin-left: 50px;
  margin-top: 150px;
  margin-bottom: 150px;*/
  margin: auto 50px;
}
.editor-artwork{
  display: flex;
  margin-bottom: 15px;
}
.artwork-thumb{
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
}
.artwork-details{
  font-size: 15px;
  color: black;
}
